html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

  div{
    width: 200px;
    margin: auto;

    line-height: 9;
    background-color: red;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );

    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;

    border-radius: 10px;
    border: 1px solid #990000;


  }